!!! 5
html
  head
    title Coloriseum
    meta(name='description', content='GGJ Game')
    meta(name='author', content='Thibault Eynard')
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='scripts/main.css')
    script(src='bundle.js')
  body(onselectstart='return false')
    canvas#canvas
